*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  column-gap: 32px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: start;
  column-gap: 40px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: fit-content;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has([type="checkbox"]):hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  height: 27px;
  color: #fff;
  background-color: #1b1919;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__label:focus {
  outline: none!important;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:not(:checked)+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  min-height: 34px;
  width: 100%;
}

.more-button:hover {
  text-decoration: underline;
}

.more-button:active {
  background-color: #545050;
}

.more-button:focus {
  outline: none;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__details {
  height: 100%;
  width: 100%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: rgb(255 255 255 / 0.1);
}

.content__list-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: relative;
  height: 298px;
  overflow-y: scroll;
  margin-top: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-right: 3px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display:block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  height: 103px;
  width: 196px;
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 16.2px; */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link_current {
  background-color: #545050;
}